body {
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #0a1f44;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(10,31,68,.8), rgba(10,31,68,.8)),
              url('../img/hero.jpg') center/cover;
}

.footer {
  background-color: #0a1f44;
}
